/* General styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

* {
    box-sizing: border-box;
}

:root {
    --header-height: 80px;
    --primary-color: #147BBF;
    --secondary-color: #ff5cc0;
    --tertiary-color: #163767;
    --text-color: #333;
    --background-color: #f5f5f5;
}

main {
    padding: 0 20px;
    margin-top: calc(var(--header-height) + 3vh);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 64px;
    background-color: #f5f5f5;
    overflow: hidden;
    z-index: 2;
}

.mobile-header-nav {
    display: none;
}

.icon {
    display: none;
}

.header-logo {
    width: 10em;
    transition: transform 0.3s ease;
}

.header-logo:hover {
    transform:scale(1.05)
}

.header-nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.header-nav-list li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.header-nav-list li a:hover {
    color: var(--secondary-color);
    transition: color 0.3s ease;
}

footer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 64px;
    cursor:pointer;
    content:stretch;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.footer-logo {
    width: 10em;
    transition: transform 0.3s ease;
}

.footer-logo:hover {
    transform:scale(1.05)
}

.footer-left-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-left-content a {
    text-decoration: none;
}

.footer-link {
    color:rgba(0, 0, 0, 0.2);
    font-size:16px;
}

.footer-link:hover {
    color: var(--secondary-color);
}

.footer-ECSD {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.footer-copy {
    color:rgba(0, 0, 0, 0.2);
    font-size:14px;
}

/* Home page styles */
#home-main {
    padding:0px;
    margin-top:var(--header-height);
}

#home-main section {
    margin-bottom: 40px;
}

#home-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;    
    background-color: var(--tertiary-color);
    box-sizing: border-box;
}

#home-section img {
    width: 50%;
    object-fit:cover
}

#home-section #home-section-text-cont {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    width: 50%;
    font-size: 18px;
    padding: 20px;
}

#home-section #home-section-text-cont h1 {
    text-align: center;
    font-size:40px;
}

#home-section #home-section-text-cont p {
    padding:0 10%;
    line-height: 30px;
}

#learn-more-button {
    align-self: flex-end;
    margin-top: 20px;
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border:none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
}

#learn-more-button:hover {
    background-color: #FF92D6;
    transform: scale(1.05);
}

#home-section-2 {
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

#stats-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: white;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    background-color:  var(--tertiary-color);
}

.stat {
    text-align: center;
    padding: 20px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 10px;
    width:30%;
    text-decoration: none;
    color: white;
}

.stat i {
    font-size: 3rem;
    margin-bottom: 10px;
    color:var(--secondary-color);
}

.stat:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.stat h2 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 700;
}

.stat p {
    font-size: 1rem;
    margin: 10px 0 0 0;
    font-weight: 300;
}

#home-section-info {
    display:flex;
    justify-content: space-between;
    gap:10%;
    padding:0 20px;
}

#home-section-info img {
    width:50%;
    object-fit: contain;
}

#typing-text {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--primary-color);
    background-color: rgba(84, 84, 84, 0.3);
    z-index: 5; 
    backdrop-filter: blur(10px); 
}

/* Contact page styles */
#map {
    width: 90%;
    height: 50vh;
    border-radius: 5px;
}

#form-contact {
    display: block;
    margin: 20px 1%;
    margin-bottom: 20px;
    padding: 0 auto;
    padding: 15px 0;
    width: 98%;
}

#contact-us {
    display: table; 
    min-width: 0px;
    max-width: 70%;
    position: relative;
    margin: auto;
    padding: 5px 20px;
    font-size: 20px;
    text-align: center;
}

#contact-instructions {
    display: table; 
    position: relative;
    margin: auto;
}

#contact-form {
    display: table; 
    position: relative;
    margin: auto;
}

#contact-form p {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

#contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input, 
#contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px; 
}

#contact-form textarea {
    height: 100px;
    resize: vertical;
}

#submit-contact {
    display: block;
    margin: 10px auto;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#submit-contact:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

#stars-note {
    display: table; 
    position: relative;
    margin: auto;
    font-size: 10px;
    font-style: italic;
}

#map {
    width: 90%;
    height: 400px;
    margin: 20px auto; 
    border: 2px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#location {
    text-align: center;
}

#address {
    display:block;
    text-decoration: underline;
    color: black;;
    text-align: center;
}

#address:hover {
    color: var(--secondary-color);
}

/* Teachers page styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 400px;
}

.grid-item:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.more-button {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border:none;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: transform 0.3s ease;
    cursor:pointer;
}

.more-button:hover {
    background-color: #FF92D6;
    transform: scale(1.05);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* Cards CSS */

#courses-container {
    display: flex;
    gap: 20px;
    padding: 20px 40px;
    margin-bottom: 2vh;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    background-color: #f4f4f4;
    align-items: stretch;
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

#courses-container::-webkit-scrollbar {
    display: none;
}

.course-card {
    background-color: #fff;
    flex: 0 0 300px;
    border-radius: 12px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.course-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.course-image {
    width: 100%;
    height: 180px;
    object-fit: cover; 
    background-color: #ddd;
    border-radius: 12px 12px 0 0;
}

.content {
    margin: 10px;
}

.content h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
    color: #333;
}

.content .base-description {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
}

.additional-info {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    
}

.active, .active:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.3);
    transform: scale(1.1, 1.1);
}

.inactive:not(:hover), .inactive:hover {
    filter: blur(10px);
    transform: scale(0.9,0.9);
}

.active .additional-info {
    max-height: 300px; 
    opacity: 1;
    margin-left: 10px;
}

#carousel {
    position: relative; 
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-btn {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.9);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 10;
    cursor: pointer; 
    font-size: 20px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background-color: #fff;
    transform: translateY(-50%) scale(1.1);
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

/* Mobile styles */
@media (max-width: 600px) {
    header {
    padding: 0 5vw;
    overflow: auto;
    position: fixed;
    }

    .header-nav {
        display: none;
    }

    .header-logo {
        width: 8em;
    }

    .icon {
        display: block;
        color:#147BBF;
        font-size: 1.7rem;
    }

    .mobile-header-nav {
        background-color: #f5f5f5;
        display:none;
        position: fixed;
        width: 100%;
        top: var(--header-height);
        border-bottom:2px solid rgba(0, 0, 0, 0.1);
        border-top:2px solid rgba(0, 0, 0, 0.1);
        z-index: 2;
    }

    .mobile-header-nav.active {
        display:block;
    }

    .mobile-header-nav-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 10px;
        text-align: center;
    }

    .mobile-header-nav-list li a {
        text-decoration: none;
        color: #000000;
        font-weight: bold;
    }

    .mobile-header-nav-list li a:active {
        color: var(--secondary-color);
        -webkit-tap-highlight-color: transparent;
    }

    .mobile-header-nav-list li a:hover {
        color: var(--secondary-color);
    }

    .footer-logo {
        width: 8em;
    }

    footer {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
        -webkit-tap-highlight-color: transparent;
    }

    main {
        justify-content: center;
        text-align: center;
    }

    #stats-section {
        gap: 20px;
        padding: 30px 20px;
    }

    .stat {
        margin: 10px 0;
        min-width:220px;
    }

    .stat i {
        font-size: 2rem;
    }

    #home-section {
        flex-direction: column;
    }

    #home-section img,
    #home-section #home-section-text-cont {
        width: 100%;
    }

    #learn-more-button {
        align-self: center;
    }

    #home-section {
        padding: 0px;
    }

    #typing-text {
        font-size: 3rem;
    }
}